@use "sass:math";

@import "scss/_fractal-doc.helpers";
@import "scss/_fractal-doc.settings";
@import "scss/_fractal-doc.styles";

@include only-on-mobile(){

    *[style*="--doc-box-padding--mobile:"] {

        .doc-paddings-item-sample {
            padding: var(--doc-box-padding--mobile) !important;

            &::before {
                border-width: var(--doc-box-padding--mobile);
            }

        }

    }

}

.doc-button {

    &-variants {
        $gutter: var(--sp);

        display: flex;
        flex-wrap: wrap;
        align-items: center;

        display: flex;

        margin-left: calc(-.5 * #{$gutter});
        margin-right: calc(-.5 * #{$gutter});

        > * {
            flex: 0 0 auto;

            padding-left: calc(.5 * #{$gutter});
            padding-right: calc(.5 * #{$gutter});
        }

    }

}
