:root {
    --doc-color: #{$doc_color};
    --doc-background-color: #{$doc_background-color};
    --doc-border-color: #{$doc_border-color};
    --doc-spacing-color: #{$doc_spacing_color};

    --doc-marker-size: #{$doc_marker_size};
    --doc-marker-color: #{$doc_marker_color};

    --doc-error-color: #{$doc_error_color};
    --doc-textmarker-color: #{$doc_textmarker_color};
    --doc-textmarker-color--opaque: #{$doc_textmarker_color--opaque};
}

%doc-text-styles {
    font-family: $doc_font-family;
    font-size: $doc_font-size;

    font-weight: normal;
    text-transform: none;

    color: $doc_color;
}

%doc-title-styles,
%doc-subtitle-styles {
    font-family: $doc_code_font-family;
    text-transform: none;

    margin-top: $doc_stack-spacing;
    margin-bottom: 0;

    color: $doc_color;
    border-bottom: 1px solid $doc_border-color;
}

%doc-title-styles {
    font-size: (1.6 * $doc_font-size);
}

%doc-subtitle-styles {
    font-size: (1.15 * $doc_font-size);
}

%doc-text-styles--small {
    @extend %doc-text-styles;
    font-size: $doc_font-size--small;
}

%doc-label {
    @extend %doc-text-styles;


    font-size: (1.05 * $doc_font-size);
    font-weight: bold;
}

%doc-description {
    @extend %doc-text-styles--small;

    &:not(:empty) {
        margin-top: $doc_stack-spacing--small;
    }

}

%doc-label + %doc-description:not(:empty) {
    margin-top: 0;
}

%doc-box {
    margin-top: $doc_stack-spacing--section;

    padding: $doc_box-padding;
    border: 1px solid $doc_border-color;

    > %doc-notes:first-child {
        margin-top: 0;
    }

    & + & {
        margin-top: $doc_stack-spacing--component;
    }

}

%doc-notes {
    $bleeding: .2em;

    @extend %doc-box;
    @extend %doc-text-styles;

    text-align: left;

    background-color: $doc_code_background-color;
    border: 1px solid $doc_border-color;
    border-left-width: 5px;

    max-width: 100%;

    box-sizing: border-box;
    padding: $doc_box-padding;

    &.is-error {
        border-left-color: $doc_error_color;
    }

    @at-root .doc-section-title + & {
        margin-top: $doc_stack-spacing--component;
    }

    * {
        font-family: inherit;
        font-size: inherit;
        text-align: inherit;
    }

    > *:first-child {
        margin-top: 0;
    }

    h1 {
        @extend %doc-heading-1;
    }

    h2 {
        @extend %doc-heading-2;
    }

    h3 {
        @extend %doc-heading-3;
    }

    h4 {
        @extend %doc-heading-4;
    }

    ul {
        @extend %doc-ul;
    }

    a {
        @extend %doc-link;
    }

}

.doc-narrow-preview {

    .mainContainer {
        max-width: (768px + 2 * 120px) !important;
        margin-left: 0;
    }

}

.doc-narrow-content {
    $columns_count: 8;

    @include only-on-desktop(){
        width: calc((100% + var(--gg, #{$doc_base_gutter})) * #{math.div($columns_count, 12)} - var(--gg, #{$doc_base_gutter}));
        margin-left: auto;
        margin-right: auto;
    }

}

.doc {

    &-pre,
    &-code {
        font-family: $doc_code_font-family;
        font-size: $doc_code_font-size;
        font-weight: normal;

        background-color: $doc_code_background-color;
        color: $doc_code_color;

        max-width: 100%;

        box-sizing: border-box;
        padding: 0 .3em;
    }

    &-pre {
        display: block;
        overflow-x: auto;
    }

    &-code {
        display: inline-block;
        padding: 0 .4em;
    }

}

.doc-note {
    $bleeding: .2em;

    background-color: $doc_textmarker_color;
    padding: .1em 0;

    box-shadow: $bleeding 0 0 $doc_textmarker_color, (-1 * $bleeding) 0 0 $doc_textmarker_color;
}

.doc-box {
    @extend %doc-box;
}

.doc-visible-box {
    display: block;
    background-color: $doc_spacing_color;
}

.doc-select {
    font-size: normal;
    color: inherit;
    border-color: $doc_border-color;
}

    //***** Reset *****//

*[class^="doc-"] {

    label {
        user-select: none;
        cursor: pointer;
    }

    hr:not([class]) {
        margin: $doc_stack-spacing auto 0;

        border: none;
        border-top: 1px solid $doc_border-color;
        color: inherit;
        height: 0;
        overflow: visible;
    }

}

    //***** Headings *****//

%doc-heading {
    @extend %doc-text-styles;
    font-weight: bold;
    margin-top: $doc_stack-spacing;
}

%doc-heading-1 {
    font-size: (1.563 * $doc_font-size);
    margin-top: $doc_stack-spacing--component;
}

%doc-heading-2 {
    font-size: (1.25 * $doc_font-size);
    margin-top: $doc_stack-spacing--section;

    h1 + & {
        margin-top: $doc_stack-spacing;
    }

}

%doc-heading-3 {
    font-size: (1.05 * $doc_font-size);
    margin-top: $doc_stack-spacing--component;

    h1 + &,
    h2 + & {
        margin-top: $doc_stack-spacing;
    }

}

%doc-heading-4 {
    font-size: 1em;

    h1 + &,
    h2 + &,
    h3 + & {
        margin-top: $doc_stack-spacing;
    }

}

.doc-heading {
    @extend %doc-heading;
}

h1.doc-heading {
    @extend %doc-heading-1;
}

h2.doc-heading {
    @extend %doc-heading-2;
}

h3.doc-heading {
    @extend %doc-heading-3;
}

h4.doc-heading {
    @extend %doc-heading-4;
}

    //***** Lists *****//

%doc-ul {
    padding-left: 1.25em;
    padding-left-start: 1.25em;

    > li {
        list-style: square outside;

        + li {
            margin-top: $doc_stack-spacing--small;

        }

        > * {
            margin-top: $doc_stack-spacing--small;
        }

    }

}

.doc-ul {
    @extend %doc-ul;
}


    //***** Links *****//

%doc-link {
    color: inherit;
    text-decoration: underline;

    &.is-stand-alone::before {
        content: "→ ";
    }

    &[href^="#"]:not([href="#"])::before {
        content: "↓ ";
    }

    &:hover {
        color: inherit;
        text-decoration: none;
    }

}

.doc-link {
    @extend %doc-link;
}


    //***** Sections *****//

.doc-section {

    & + & {
        margin-top: $doc_stack-spacing--section;
    }

    &-title {
        @extend %doc-title-styles;

        & + h1, & + h2, & + h3, & + h4, & + h5, & + h6 {

            &:not([class]) {
                margin-top: 0 !important;
            }

        }

    }

}

.doc {

    &-example {

        &-view {
            margin-bottom: $doc_stack-spacing--large;
        }

        &-code {
            margin-bottom: $doc_stack-spacing--large;

            padding: $doc_stack-spacing !important;

            background-color: $doc_code_background-color !important;
            color: $doc_code_color;
            border: $doc_code_border !important;
        }

    }

}

    //***** Header *****//

%doc-header {
    font-family: $doc_code_font-family;
    text-transform: none;

    color: $doc_color;

    &-title {
        @extend %doc-title-styles;
    }

    &-configuration {
        display: flex;
        flex-wrap: wrap;
        column-gap: 1.5em;
        row-gap: $doc_stack-spacing--small;

        margin-top: $doc_stack-spacing--small;

        font-family: $doc_code_font-family;
        font-size: $doc_font-size--small;
        text-transform: none;
    }

    &-configuration ul,
    &-modifiers {
        list-style: none;
        padding-left: 0;
        margin-top: 0;

        display: flex;
        flex-wrap: wrap;
        column-gap: .5em;

        color: $doc_color;

        > li + li::before {
            content: "|";
            margin-right: .5em;
        }

    }

    &-configuration ul[data-label] {

        &::before {
            content: attr(data-label) "s:";
            font-weight: bold;
        }

        &:has(> li:only-child)::before {
            content: attr(data-label) ":";
        }

    }

    &-configuration label {
        font-weight: bold;
    }

    &-configuration select {
        font-weight: normal;
    }

    &-modifiers {

        &::before {
            content: "modifiers: ";
            font-weight: bold;
        }

        &:has(> li:only-child)::before {
            content: "modifier: ";
        }

    }

    &-configuration &-modifiers,
    &-configuration &-themes {
        margin-top: 0;
    }

    &-notes {
        @extend %doc-notes;
        margin-top: $doc_stack-spacing--component;
    }

}

.doc-header {
    @extend %doc-header;

    &-title {
        @extend %doc-header-title;
    }

    &-configuration {
        @extend %doc-header-configuration;
    }

    &-modifiers {
        @extend %doc-header-modifiers;
    }

    &-notes {
        @extend %doc-header-notes;
    }

}

    //***** Variants *****//

.doc-variant {

    & + & {
        margin-top: $doc_stack-spacing--section;
    }

    .doc-section & {
        margin-top: $doc_stack-spacing--component;
    }

    &-header {
        font-family: $doc_code_font-family;
        text-transform: none;

        color: $doc_color;
        @extend %doc-header;
    }

    &-title {
        @extend %doc-subtitle-styles;
    }

    &-configuration {
        @extend %doc-header-configuration;
    }

    &-specifications,
    &-modifiers,
    &-flags {
        @extend %doc-header-modifiers;
    }

    &-specifications::before {
        display: none;
    }

    &-flags::before {
        content: "Flags: ";
    }

    &-samples {
        margin-top: $doc_stack-spacing;

        display: flex;
        flex-wrap: wrap;
        column-gap: 1rem;
        row-gap: 1rem;
        align-items: flex-start;

        &[data-theme] {
            padding: var(--bp, 1rem);
            border: 1px solid rgba($doc_color, .1);
        }

        > * {
            margin-top: 0 !important;
        }

    }

    &-notes {
        @extend %doc-notes;

        &:not(:first-child) {
            margin-top: $doc_stack-spacing;
            margin-bottom: $doc_stack-spacing;

            padding-block: .5 * $doc_box-padding;

            font-size: $doc_font-size--small;
        }

    }

}


.doc {

    &-dt {
        font-weight: bold;
        margin-bottom: $doc_stack-spacing--small;

        & > * {
            display: inline;
        }

        code {
            $line-height: 1.3;

            $color: black;
            $background-color: #e3e3e3;

            position: relative;
            bottom: .05em;

            display: inline-block;
            vertical-align: baseline;

            padding: 0 .2em;

            font-family: $doc_code_font-family;
            font-size: $doc_code_font-size;
            font-weight: normal;
            line-height: $line-height;

            background-color: rgba($background-color, 0);
            color: rgba($color, 0);

            transition: all .4s;

            &::before { // Icon
                content: "";

                display: inline-block;

                width: $doc_marker_size; height: 1em * $line-height;
                line-height: $line-height;

                vertical-align: bottom;

                margin-right: .4em;

                background: transparent center center no-repeat;
                background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><path fill="#{$doc_marker_color}" d="M8,16c-4.4,0-8-3.6-8-8s3.6-8,8-8s8,3.6,8,8S12.4,16,8,16z M10.7,11.3c0-0.2-0.1-0.3-0.3-0.3h-1V5.7c0-0.2-0.1-0.3-0.3-0.3 H5.7c-0.2,0-0.3,0.1-0.3,0.3v1.7c0,0.2,0.1,0.3,0.3,0.3h1V11h-1c-0.2,0-0.3,0.1-0.3,0.3V13c0,0.2,0.1,0.3,0.3,0.3h4.7c0.2,0,0.3-0.1,0.3-0.3V11.3z M9.3,2c0-0.2-0.1-0.3-0.3-0.3H7C6.8,1.7,6.7,1.8,6.7,2v1.7C6.7,3.9,6.8,4,7,4h2c0.2,0,0.3-0.1,0.3-0.3V2z"/></svg>');
                background-size: 100% auto;
            }

            &:hover {
                left: 0;

                background-color: rgba($background-color, 1);
                color: rgba($color, 1);

                transition: all .1s;
            }

        }

    }

    &-dd {
        margin: 0;
    }

    &-dd + &-dt {
        margin-bottom: $doc_stack-spacing;
    }

}

    //***** Label, Title, Description & Notes *****//

.doc-label {
    @extend %doc-label;
}

.doc-title {
    @extend %doc-title-styles;
    margin-bottom: 0;
}

.doc-description {
    @extend %doc-description;
}

.doc-notes {
    @extend %doc-notes;
}

    //***** Colors, Fonts and Headings *****//

.doc-colors,
.doc-themes,
.doc-headings {

    table {
        border-collapse: collapse;
    }

    caption {
        text-align: left;
    }

    tbody {
        width: 100%;
        margin: 0;
    }

}

.doc-themes,
.doc-headings {
    $gutter: $doc_base_gutter;

    margin-top: $doc_stack-spacing--component;

    &-title {
        @extend %doc-text-styles;

        &:first-child {
            margin-top: $doc_stack-spacing;
        }

    }

    &-list {
        width: 100%;
        margin: 0 (-.5 * $gutter);

    }

    &-title + &-list {
        margin-top: calc(#{$gutter} - 1.3 * #{$doc_stack-spacing--component});
    }

    caption {
        padding: 0 (.5 * $gutter);
        margin-bottom: 0;
    }

    &-item {
        display: block;

        box-sizing: border-box;
        padding: $gutter (.5 * $gutter) 0;

        &-label {
            @extend %doc-label;

            display: block;
            width: 100%;
            padding: 0;
        }

        &-description,
        &-specimen {
            display: block;
        }

        @include only-on-desktop(){
            flex: 0 1 auto;
        }

    }

}

.doc-fonts {
    margin-top: $doc_stack-spacing--section;

    &-label {
        font-family: $doc_code_font-family;
        color: $doc_color;
    }

    &-list {
        @extend %doc-flowbox;

        margin-top: $doc_stack-spacing--component;
        width: 100%;

        & > *:not(&-item) {
            grid-column: 1 / -1;
        }

    }

    &-item {

        &-label {
            @extend %doc-label;
        }

        &-specimen {
            font-size: 2rem;
            line-height: 1.2;

            > div {
                overflow: hidden;
                text-overflow: ellipsis;
            }

        }

    }

}

.doc-fonts,
.doc-headings {

    &-item {

        &-description {
            @extend %doc-description;

            padding-bottom: .35em;
            border-bottom: $doc_code_border;

            margin-bottom: $doc_stack-spacing--small;
        }

    }

}

*[data-copy-text] {
    $icon: '<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M14.5 4.5H13C13 5.32843 13.6716 6 14.5 6V4.5ZM9.5 4.5V6C10.3284 6 11 5.32843 11 4.5H9.5ZM12 0C9.79086 0 8 1.79086 8 4H11C11 3.44772 11.4477 3 12 3V0ZM16 4C16 1.79086 14.2091 0 12 0V3C12.5523 3 13 3.44771 13 4H16ZM16 4.5V4H13V4.5H16ZM14.5 6H17.625V3H14.5V6ZM17.625 6C17.8217 6 18 6.16364 18 6.38889H21C21 4.52773 19.4994 3 17.625 3V6ZM18 6.38889V19.6111H21V6.38889H18ZM18 19.6111C18 19.8364 17.8217 20 17.625 20V23C19.4994 23 21 21.4723 21 19.6111H18ZM17.625 20H6.375V23H17.625V20ZM6.375 20C6.1783 20 6 19.8364 6 19.6111H3C3 21.4723 4.50064 23 6.375 23V20ZM6 19.6111V6.38889H3V19.6111H6ZM6 6.38889C6 6.16365 6.17831 6 6.375 6V3C4.50062 3 3 4.52771 3 6.38889H6ZM6.375 6H9.5V3H6.375V6ZM8 4V4.5H11V4H8Z" fill="white"/><path fill-rule="evenodd" clip-rule="evenodd" d="M9.5 4C9.5 2.61929 10.6193 1.5 12 1.5C13.3807 1.5 14.5 2.61929 14.5 4V4.5H17.625C18.6606 4.5 19.5 5.34568 19.5 6.38889V19.6111C19.5 20.6543 18.6606 21.5 17.625 21.5H6.375C5.33947 21.5 4.5 20.6543 4.5 19.6111V6.38889C4.5 5.34568 5.33947 4.5 6.375 4.5H9.5V4Z" fill="white"/><path d="M14.5 4.5H14C14 4.77614 14.2239 5 14.5 5V4.5ZM9.5 4.5V5C9.77614 5 10 4.77614 10 4.5H9.5ZM12 1C10.3431 1 9 2.34315 9 4H10C10 2.89543 10.8954 2 12 2V1ZM15 4C15 2.34315 13.6569 1 12 1V2C13.1046 2 14 2.89543 14 4H15ZM15 4.5V4H14V4.5H15ZM14.5 5H17.625V4H14.5V5ZM17.625 5C18.3809 5 19 5.61834 19 6.38889H20C20 5.07303 18.9402 4 17.625 4V5ZM19 6.38889V19.6111H20V6.38889H19ZM19 19.6111C19 20.3817 18.3809 21 17.625 21V22C18.9402 22 20 20.927 20 19.6111H19ZM17.625 21H6.375V22H17.625V21ZM6.375 21C5.61908 21 5 20.3817 5 19.6111H4C4 20.927 5.05986 22 6.375 22V21ZM5 19.6111V6.38889H4V19.6111H5ZM5 6.38889C5 5.61834 5.61908 5 6.375 5V4C5.05985 4 4 5.07303 4 6.38889H5ZM6.375 5H9.5V4H6.375V5ZM9 4V4.5H10V4H9Z" fill="black"/><line x1="8.5" y1="10.5" x2="15.5" y2="10.5" stroke="black" stroke-linecap="round"/><line x1="8.5" y1="13.5" x2="15.5" y2="13.5" stroke="black" stroke-linecap="round"/><line x1="8.5" y1="16.5" x2="15.5" y2="16.5" stroke="black" stroke-linecap="round"/><path d="M8.5 4.5V6.5H15.5V4.5" stroke="black" stroke-linecap="round" stroke-linejoin="round"/></svg>';

    cursor: svg-url($icon), pointer;

}


.doc-colors {
    margin-top: 0;

    &-list {
        margin-top: var(--gg, $doc_base_gutter);

        @include flowbox(
            $min-width: 228px
        );

    }

    &-item {

        &-value {
            @extend %doc-text-styles--small;

            display: block;

            box-sizing: border-box;
            border: 1px solid rgba($doc_color, .1);

            width: 100%;
            padding-bottom: 75%;

            text-align: center;
            background-color: transparent;

            position: relative;

            transition: all .4s;

            & > * {
                display: block;
                width: 100%;

                box-sizing: border-box;
                padding: 1em;

                position: absolute;
                top: 50%; left: 50%;
                transform: translate(-50%, -50%);

                opacity: 0;
                background-color: transparent;
            }

            &.has-doc-tooltip {

                & > *:not(.doc-tooltip) {
                    visibility: hidden;
                }

            }

            &:not(.has-doc-tooltip):hover {
                background-color: white !important;
                transition: all .1s;

                & > * {
                    opacity: 1;
                }

            }

            .doc-code {
                font-size: $doc_code_font-size--small;

                span {
                    display: block;
                }

            }

        }

        &-scale {
            display: block;
        }

        &-label {
            @extend %doc-label;
        }

        &-label + * {
            margin-top: $doc_stack-spacing--small;
        }

        &-description {
            @extend %doc-description;
        }

    }

    &-scale {
        $gutter: $doc_base_gutter;

        display: block;
        width: 100%;
        margin-top: 0;

        &-item {
            display: block;
            width: 100%;

            position: relative;

            &-value {
                @extend .doc-colors-item-value;
                padding-bottom: 25%;

                &:not(.has-doc-tooltip) {
                    padding-bottom: 0;

                    & > * {
                        position: static;
                        transform: none;
                    }

                }

            }


            &:not(:first-child) &-value {
                border-top: none;
            }

            &:not(:last-child) &-value {
                border-bottom: none;
            }

            &-label {
                @extend .doc-colors-item-label;
            }

            &-variant {
                font-family: $doc_font-family;
                font-size: $doc_font-size--small;
                color: $doc_color;

                position: absolute;
                top: 10px;
                right: 10px;

                padding: .1em .4em .05em;
                background-color: rgba(white, .5);
                border-radius: 3px;

                > span {
                    mix-blend-mode: multiply;
                }

            }

        }

    }

}

.doc-themes {
    $gutter: $doc_base_gutter;

    @include flowbox($min-width: 432px);

    &-title:first-child {
        margin-top: $doc_stack-spacing;
    }

    &-item {
        padding: 0;

        &-sample {
            padding: var(--bp, 1rem);

            border: 1px solid var(--border-color, rgba($doc_color, .1));
        }

        &-label {
            @extend %doc-label;
        }

        &-label + .wrapper {
            margin-top: $doc_stack-spacing--small;
        }

        &-description {
            @extend %doc-description;
        }

    }

    &-sample {

        &-header {
            display: flex;
            align-items: center;
            column-gap: 24px;

            > * {
                margin-top: 0 !important;
            }

        }

        &-icon {
            display: block;
            height: 64px;
            width: 64px;
            flex-shrink: 0;

            display: flex;
            justify-content: center;
            align-items: center;

            background-color: var(--accent-color);
            color: white;
            border-radius: 100vmax;

            .icon {
                width: 40px;
                height: 40px;
            }

        }

    }

}

//***** Icons *****//

.doc {
    $sample_size: 64px;

    &-icons {
        display: flex;
        flex-wrap: wrap;
        gap: $doc_stack-spacing--small;
    }

    &-icon {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        min-width: $sample_size;
        min-height: $sample_size;
        padding: 8px;

        border: 1px solid $doc_border-color;
    }

}


//***** Layout *****//

%doc-flowbox {
    @include flowbox();
}

.doc-flowbox {
    @extend %doc-flowbox;
}

.doc-layout-grid {
    position: fixed;
    top: 0; left: 0;

    z-index: 9999;

    width: 100%; height: 100vh;

    display: none;

    user-select: none;
    pointer-events: none;

    .grid-page {
        width: 100%; height: 100%;
        outline: 1px solid red;
        position: relative;
        padding-bottom: 0;
    }

    .grid-container {
        width: 100%;
        height: 100%;
    }

    .grid-row {
        height: 100%;
    }

    .grid-column {
        height: 100%;

        border-style: none dashed;
        border-width: 1px;
        border-color: rgba(black, .125);

        &:not(:last-child) {
            border-right: none;
        }

        &::after {
            content: "";

            display: block;
            width: 100%; height: 100%;

            box-sizing: content-box;
            margin-left: -1px; margin-right: -1px;

            border-style: none solid;
            border-width: 1px;
            border-color: rgba(red, .25);
        }

    }

    body.show-grid &,
    &.is-visible {
        display: block;
    }

}

    // Vertical spacing

*[style*="--doc-layout-spacing:"] {
    position: relative;
    margin-top: var(--doc-layout-spacing) !important;
}

*[style*="--doc-layout-spacing:"]::after {
    content: "";

    position: absolute;
    top: 0; left: 0;

    display: block;
    width: 100%;
    height: 0;
    height: var(--doc-layout-spacing);

    transform: translateY(-100%);

    background-color: $doc_spacing_color;
}

    // Box paddings

.doc-padding {

    &-item {
        display: block;

        &-label {
            @extend %doc-label;
        }

        &-label + &-sample {
            margin-top: $doc_stack-spacing--small;
        }

        &-description {
            @extend %doc-description;
        }

    }

    @include not-on-mobile(){
        margin-left: (-.5 * $doc_base_gutter);
        margin-right: (-.5 * $doc_base_gutter);

        &-item {
            width: (math.div(5, 12) * 100%);

            padding-left: (.5 * $doc_base_gutter);
            padding-right: (.5 * $doc_base_gutter);
        }

    }

}

.doc-sample {

    &:not(:first-child) {
        margin-top: $doc_stack-spacing;
    }

    &[style*="--doc-box-padding:"] {
        padding: var(--doc-box-padding) !important;

        position: relative;

        > *:first-child {
            margin-top: 0 !important;
        }

        &::before {
            content: "";
            display: block;

            position: absolute;
            inset: 0;

            z-index: -1;

            box-shadow: 0 0 0px var(--doc-box-padding) inset $doc_spacing_color;
            border: 1px solid red;
        }

    }

    &[style*="--doc-border-radius:"] {
        border-radius: var(--doc-border-radius) !important;

        width: 3rem;
        height: 3rem;
        background-color: $doc_spacing_color;
        border: 1px solid red;
    }

}

//***** Favicon *****//

.doc-favicon-samples {
    background-color: $doc_favicon-samples_background-color;

    * {
        color: #ccc;
    }

}

.doc-favicon {
    margin-top: $doc_stack-spacing--component;

    &:last-child {
        margin-bottom: $doc_stack-spacing--component;
    }

    &-label {
        @extend %doc-label;
    }

    &-context {
        position: relative;
        overflow: hidden;
    }

    &-icon {
        position: absolute;
        left: 0;
        top: 0;

        display: block;
        width: 100%;
        height: 100%;

        background-size: contain;
        mask-size: contain;
    }

    &.is-favicon &-context,
    &.is-favicon-16 &-context {
        width: 274px;
        height: 42px;

        background: url(map-get($doc_favicon_images, browser)) 0 0 no-repeat;
        background-size: cover;
    }

    &.is-favicon &-icon,
    &.is-favicon-16 &-icon {
        width: 16px;
        height: 16px;

        left: 25px;
        top: 15px;
    }

    &.is-ios &-context {
        width: 58px;
        height: 58px;
        border-radius: (math.div(7, 32) * 100%);
    }

    &.is-android &-context {
        width: 58px;
        height: 58px;
    }

    &.is-windows &-context {
        width: 100px;
        height: 100px;

        background-image: linear-gradient(90deg, rgba(black, .18), rgba(black, 0));
    }

    &.is-windows &-icon {
        width: 50%;
        height: 50%;

        left: 50%;
        top: 50%;

        transform: translate(-50%, -50%);
    }

    &.is-safari &-context {
        width: 74px;
        height: 46px;
        border-radius: 6px;

        background: #ddd;
    }

    &.is-safari &-icon {
        width: 34px;
        height: 34px;

        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    &.is-touchbar &-context {
        width: 78px;
        height: 36px;
        border-radius: 6px;
    }

    &.is-touchbar &-icon {
        width: 28px;
        height: 28px;

        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    .doc-variant-header + & {
        margin-top: $doc_stack-spacing;
    }

}


//***** Right-to-left *****//

html[dir="rtl"] {

    %doc-notes {
        text-align: right;
        border-left-width: 1px;
        border-right-width: 5px;
    }

}

//**********************//
//***** Components *****//
//**********************//

@import "_fractal-doc.styles--animation";
@import "_fractal-doc.styles--elevations";
@import "_fractal-doc.styles--tooltip";
