@keyframes doc-animation {
    0% {
        left: 0;
    }
    50% {
        left: 100%
    }
}

.doc-animation {
    $max-width: 500px;

    &-samples {
        margin-top: $doc_stack-spacing--component;
    }

    &-sample {
        display: inline-block;
        $color: $doc_background-color;

        > span {
            display: inline-flex;
            align-items: center;
            aspect-ratio: 1 / 1;

            padding: (.5 * $doc_box-padding) $doc_box-padding;
            border: 1px solid $doc_border-color;

            transition-property: background-color, color;
            transition-timing-function: var(--tf-in-quart, ease-in);

            position: relative;
            z-index: 1;

            &::after {
                content: "";

                position: absolute;
                inset: 0;
                z-index: -1;

                transform: scaleY(0);
                transform-origin: left bottom;

                background-color: $color;

                transition: inherit;
                transition-property: transform;
            }

        }

        &:hover > span {
            transition-duration: inherit !important;
            transition-timing-function: var(--tf-out-quart, ease-out);

            &::after {
                transform: scaleY(1);
            }

        }

    }

    .doc-variant {
        max-width: $max-width;
    }

    .doc-notes:first-child {
        margin-top: $doc_stack-spacing--component;
    }

    animation-play-state: paused;

    .doc-variant:hover {
        animation-play-state: running;
    }

    &:has(&-toggle:checked) {
        animation-play-state: running;
    }

    * {
       animation-play-state: inherit;
    }

    [style*="animation-timing-function"] {
        $size: 13px;
        $color: $doc_error_color;

        margin-top: $doc_stack-spacing;

        height: $size;
        width: calc(100% - #{$size});

        margin-left: floor(.5 * $size);

        position: relative;

        animation-duration: 1.5s;
        animation-play-state: inherit;

        &::before {
            $border-color: $doc_color;

            content: "";

            position: absolute;
            inset: 0 (-.5 * 13px);

            display: block;

            border: solid $border-color;
            border-width: 0 1px;
            background: linear-gradient(to left, $border-color, $border-color) 0 50% no-repeat;
            background-size: 100% 1px;
        }

        &::after {
            content: "";

            position: absolute;
            left: 0;
            transform: translateX(-50%);

            display: block;
            width: $size;
            height: $size;

            background-color: $color;
            border-radius: 50%;

            animation-name: doc-animation;
            animation-iteration-count: infinite;
            animation-fill-mode: both;
            animation-duration: inherit;

            animation-play-state: inherit;
            animation-timing-function: inherit;
        }

    }

        // Show animation toggle only when browser supports :has();

    &-toggle-container {
        display: none;
    }

    &:has(&-toggle) &-toggle-container {
        display: block;
    }

}
