.doc-elevations {
    display: flex;
    flex-wrap: wrap;

    margin-left: (-.5 * $doc_base_gutter);
    margin-right: (-.5 * $doc_base_gutter);

    &-item {
        display: block;
        width: 50%;

        padding-left: (.5 * $doc_base_gutter);
        padding-right: (.5 * $doc_base_gutter);

        &-label {
            @extend %doc-label;
        }

        &-sample {
            width: 100%; padding-bottom: (.6667 * 100%);

            > *:first-child {
                margin-top: 0 !important;
            }

        }

        &-label + &-sample {
            margin-top: $doc_stack-spacing--small;
        }

        &-description {
            @extend %doc-description;
        }

    }

    @include only-on-tablet(){

        &-item {
            width: 33.33%;
        }

    }


    @include only-on-desktop(){

        &-item {
            width: 25%;
        }

    }

}

    //----- Legacy -----//

*[style*="--doc-box-shadow:"] {

    .doc-elevations-item-sample {
        box-shadow: var(--doc-box-shadow) !important;
    }

}
