.doc-tooltip {
    $inset: $doc_box-padding;
    $marker_width: 16px;
    $border-color: darken($doc_tooltip_background-color, 30%);

    display: block;
    position: relative;
    z-index: 1;

    margin-top: (.5 * $marker_width);

    width: max-content;
    max-width: $doc_tooltip_max-width;

    background-color: $doc_tooltip_background-color;
    border: 1px solid $border-color;
    color: $doc_tooltip_color;

    font-family: $doc_font-family;
    font-size: $doc_font-size--small;
    text-align: center;

    padding: (.5 * $doc_box-padding);

    &::before { // Marker
        $size: ceil(math.div($marker_width, math.sqrt(2)));

        content: "";

        display: block;
        width: $size; height: $size;

        position: absolute;
        bottom: 100%;
        left: calc(50% - #{.5 * $marker_width});
        z-index: 1;

        transform-origin: bottom left;
        transform: rotate(45deg);

        background-color: $doc_tooltip_background-color;
        border: 1px $border-color;
        border-style: solid none none solid;
    }

    > *:first-child {
        margin-top: 0 !important;
    }

}

.has-doc-tooltip {
    $position_inset: 10% !default;
    $animation_inset: 16px !default;

    position: relative;

    .doc-tooltip {
        position: absolute;
        top: 100%;
        left: 50%;

        opacity: 0;
        transition: .2s ease-in;
        transform: translate(-50%, $animation_inset);

        pointer-events: none;
    }

    &:not([data-persistent]):hover,
    &:focus,
    &:focus-within {
        outline: transparent;

        .doc-tooltip {
            opacity: 1;
            transform: translate(-50%, 0);

            transition: .1s ease-out;

            a, button {
                pointer-events: all;
            }

        }

    }

}
