@mixin clearfix() {
    &::after {
        display: table;
        clear: both;
        content: "";
    }
}

//-----------------------//
//----- Breakpoints -----//
//-----------------------//

@mixin only-on-mobile(){

    @include media-query(
        $max-width: $doc_breakpoint--tablet - 1
    ){
        @content;
    }

}

@mixin not-on-mobile(){

    @include media-query(
        $min-width: $doc_breakpoint--tablet
    ){
        @content;
    }

}

@mixin only-on-tablet(){

    @include media-query(
        $min-width: $doc_breakpoint--tablet,
        $max-width: $doc_breakpoint--desktop - 1
    ){
        @content;
    }

}

@mixin not-on-tablet(){

    @include only-on-mobile(){
        @content;
    }

    @include only-on-desktop(){
        @content;
    }

}

@mixin only-on-desktop(){

    @include media-query(
        $min-width: $doc_breakpoint--desktop
    ){
        @content;
    }

}

@mixin not-on-desktop(){

    @include media-query(
        $max-width: $doc_breakpoint--desktop - 1
    ){
        @content;
    }

}

@mixin only-on-small-desktop(){

    @include media-query(
        $min-width: $doc_breakpoint--desktop,
        $max-width: (.5 * $doc_page_content_max-widt + .5 * $doc_breakpoint--desktop)
    ){
        @content;
    }

}

@mixin media-query(
    $min-width: 0,
    $max-width: none
){

    @if ($min-width == 0) and ($max-width == none){
        @content;
    }
    @else if ($min-width == 0){

        @media (max-width: $max-width){
            @content;
        }

    }
    @else if ($max-width == none){

        @media (min-width: $min-width){
            @content;
        }

    }
    @else {

        @media (min-width: $min-width) and (max-width: $max-width) {
            @content;
        }

    }

}

@mixin flowbox(
    $min-width: $doc_flowbox_min-width,
){
    margin-top: $doc_stack-spacing--component;
    width: 100%;

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(min(100%, $min-width), 1fr));
    grid-auto-flow: row;
    gap: $doc_stack-spacing--component var(--sp-component, #{$doc_base_gutter});
}

//**********************************//
//***** Encode SVG as data URL *****//
//**********************************//

@function svg-url(
    $svg: "",
    $color: $doc_code_color,
){
    $data: get-svg-data-url($svg, $color);
    @return url($data);
}

@function get-svg-data-url(
    $svg: "",
    $color: $_text-color,
){
        /*
         * Format SVG code as data URI
         *   Also masks hashes to fix missing SVGs in Firefox
         */

    $svg: str-replace($svg, "{{color}}", "#{$color}");

    $svg: str-replace($svg, '    ', "");
    $svg: str-replace($svg, '\a', "");
    $svg: str-replace($svg, "#", "%23");
    $svg: str-replace($svg, "<", "%3C");
    $svg: str-replace($svg, ">", "%3E");
    $svg: str-replace($svg, "'", "%27");
    $svg: str-replace($svg, '"', "%22");

    @return ('data:image/svg+xml;charset=utf8,' + $svg);
}

    //***** Replace strings *****//

@function str-replace($string, $search, $replace: '') {

        /*
         * Replace `$search` with `$replace` in `$string`
         * @author Hugo Giraudel
         */

    $index: str-index($string, $search);

    @if $index {
        @return str-slice($string, 1, $index - 1) + $replace + str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
    }

    @return $string;

}

