html {
    color: $text-color;
}

@if variable-exists(custom_font-family){

    body * {
        font-family: $custom_font-family, Georgia, Times, serif !important;
    }

}

h1, h2, h3, h4, h5, h6 {
    color: $text-color;

    .Prose & {
        color: $text-color;
        opacity: 1;
    }

}

a {
    color: $link-color;

    &:hover {
        color: $link-color--hover;
    }

}

// Set min width of preview rendering area
.Preview-wrapper {
    min-width: calc(#{$preview_min-width} + 2 * var(--pp, 16px));
}

.Tree {

    &-depth-1 > &-item > &-collectionLabel,
    &-depth-1 > &-item > &-entityLink {
        font-weight: bold;
    }

}

.Header {
    background-color: $header-background-color;
    color: $header-color;

    &-navToggle svg {
        fill: $header-color;
    }

}

.Pen {

    &-previewLink {

        svg {
            fill: $link-color;
        }

        &:hover {

            svg {
                fill: $link-color--hover;
            }

        }

    }

}

.Browser {

    &-tab {

        &.is-active {

            a {
                border-bottom-color: $link-color--hover;
            }

        }

    }

    &-code {

        pre:has(+ pre) {
            padding-bottom: 0;
        }

        pre + pre {
            padding-top: 0;
        }

    }

}

.Prose {
    $color-text: #535363 !default;

    width: 100%;

    & > :not(pre):not(:last-child) {
        margin-bottom: .75rem;
    }

    pre {
        margin-top: 0;
        background-color: rgba($color-text, 0.075);
    }

    code {
        padding: 0.125rem;
        background-color: rgba($color-text, 0.075);

        margin-bottom: 0;
    }

    pre > code {
        padding: 0;
        background: 0;
    }

}

.Status {

    &-label {
        color: $text-color;

        &[style*="background-color: #{$text-color};"] {
           color: white;
        }
    }

}

.Tree-entityLink {
    color: $text-color !important;

    align-items: baseline;
    position: relative;

    &:has(.Status-dot[title="Deprecated"]) {
        color: rgba($text-color, .66) !important;
        text-decoration: line-through;
    }

    .Status {
        $dot_size: 6px;

        position: absolute;
        transform: translateX(-100%);
        margin-left: (-1 * $dot_size) !important;

        &--unlabelled {
            height: 24px;
        }

        &-dots {
            position: relative;
            top: -.15em;
        }

        &-dot {
            width: $dot_size;
            height: $dot_size;
            border-width: (.5 * $dot_size);
        }

    }

}

.Tree-collectionLabel {
    color: $text-color !important;

    &::before {
        left: initial !important;
        transform: translateX(-100%);
        margin-left: -.2rem;
        opacity: .8;
    }

    .Tree-depth-1 > .Tree-item > &::before {
        display: none;
    }

}

.Navigation-group.has-search-results {

    .Tree-item {

        &[data-behaviour="collection"],
        &[data-role="item"] {

            &:not(:has(mark[data-markjs="true"])) {
                display: none;
            }

        }

        &[data-behaviour="collection"]:has(> button mark[data-markjs="true"]) {

            *[data-role="item"] {
                display: block !important;
            }

        }

    }

}
