@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:400,400i,700,700i');

$custom_font-family: "Roboto Mono" !default;

$corporate-color: slategray !default;
$text-color: #333 !default;

$header-background-color: $corporate-color !default;
$header-color: white !default;

$link-color: $corporate-color !default;
$link-color__hover: darken($link-color, 10%) !default;

$preview_min-width: 320px !default;
